.prueba {
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prueba .wallpaper {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.prueba .verse {
  @apply text-[1rem] lg:text-[3rem]
}

.wallpaper img, .wallpaper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wallpaper img.zoom {
  animation-name: animacion-imagen;
  animation-duration: 60s; 
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes animacion-imagen {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.5); 
  }
  100% {
    transform: scale(1);
  }
}

.prueba p {
  z-index: 1;
  --sha-posi: 2px;
  --sha-nega: -2px;
  line-height: initial;
  text-align: center;
  text-shadow: var(--sha-nega) var(--sha-nega) 0 black, var(--sha-nega) var(--sha-posi) 0 black, var(--sha-posi) var(--sha-nega) 0 black, var(--sha-posi) var(--sha-posi) 0 black, 0 0 20px rgba(0, 0, 0, 0.5);
}

.prueba span {
  justify-content: center;
}

.prueba button {
  position: fixed;
  z-index: 9;
  bottom: 10px;
  right: 10px;
  background: gray;
  padding: 5px;
  border-radius: 5px;
  color: #d1d1d1;
  opacity: .25;
}

.preview .current {
  transform-origin: top left;
  max-height: 230px;
}

.preview .prueba {
  width: 1920px !important;
  height: 1080px !important;
  position: relative;
  transform-origin: top left;
}

.preview .wallpaper {
  position: absolute;
}

.prueba .song-author{
  font-size: 4vw;
  font-weight: normal;
  opacity: .7;
}

.prueba .song-cover {
  border-top: 6px solid white;
  border-bottom: 6px solid white;
  margin: 0 2rem;
}

.prueba .song-content{
  font-size: 7.8vw;
}

.prueba .song-content{
  @apply portrait:text-[14vw];
}

.image.back {
  height: 100vh;
  width: 100vw;
}